<div class="footer__block" >
	<div class="footer__learn">
		<div class="footer__learn-in">
			<p>Начни изучение</p>
			<a href="https://itunes.apple.com/app/sktchtuts/id1050562247" target="_blank" onclick="ga('send', 'event', 'DownloadApp', 'PushButton');" >{{ mixins.svgicon('appstore') }}</a>
			<p>прямо сейчас!</p>
		</div>
	</div>
	<div class="footer__down">
		<div class="footer__down-in">
			
			<div class="footer__contacts">
                <h2>Contacts</h2>
                <div class="footer__contacts__block">
	                <p class="footer__contacts__adress">35 west 15th street, New York</p>
	                <a class="footer__contacts__tell" href="tel:+380444566031">+380 44 456 60 30</a>
					<a class="footer__contacts__mail" href="mailto:info@profitheme.com">info@profitheme.com</a> 
				</div>
                <ul class="footer__contacts__social">
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                </ul>

                <div class="copyright">
                © 2015 ION Digital. All Rights Reserved.
                </div>
            </div>
			<div class="footer__instagram">
                <h2>Instagram</h2>
                <div class="footer__photo">
	                <img src="" alt="">
	                <img src="" alt="">
	                <img src="" alt="">
	                <img src="" alt="">
	                <img src="" alt="">
	                <img src="" alt="">
				</div>
				<a class='follow_btn' href="#">Follow us</a>
            </div>
            <div class="footer__form">
                <h4>Contact us</h4>
                <p class="line-lg"><span></span></p>
                <form id="" autocomplete="on">
                    <div class="input-group">
                        <input type="text" name="u_name" placeholder="Name" class="form-control requiredField name" value="">
                    </div>
                    <div class="input-group">
                        <input type="email" name="u_mail" placeholder="Email" class="form-control requiredField email" value="">
                    </div>
                    <div class="input-group">
                        <input type="text" name="u_phone" placeholder="Message" class="form-control requiredField phone" value="">
                    </div>
                    <div class="input-group">
                        {{mixins.btnLink('SEND', 'btn_orange', '#send' ,'play')}}
                    </div>
                </form>

            </div>
		</div>
	</div>
</div>