<!-- BEGIN intro -->
<div class="intro" name = "about">
  <div class="table">
    <div class="intro__in ">
      <div class="hand">
      <img src="img/iphone.png" alt="phone">
      </div>
      <div class="content">
        <div class="diamond"><img src="img/icon.png" alt="diamond"></div>
        <div class="sktch"><img src="img/SktchTuts.png" alt="SktchTuts"></div>
        <div class="expresion">Обучающая программа видеоуроков по графическому редактору SketchApp 3</div>
        <div class="appstore-cover">
          <a href="#" target="_blank" >{{ mixins.svgicon('appstore') }}</a>
          <a href="#" target="_blank" >{{ mixins.svgicon('appstore') }}</a>
        </div>
      </div>
    </div>
  </div>
   <div class="anchor-down"><i></i></div>
</div>
<!-- END intro -->
